<div id="p3" style="display:none">
        <div class="container">
          <h3>Scheduling</h3>
          <br>
          <p>Please select the times you will be available.</p>
        </div>
        <div class="container">
          <input id="serviceDate" type="hidden" name="serviceDate" value="">
          <table id="availability" class="maintReqTbl">
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednesday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
              <th scope="col">Sunday</th>
              <script>
                for(let q = 0; q < 96; q++){
                  document.write('<tr>');
                  for(let d = 1; d <= 7; d++){
                    document.write(`<td>_</td>`);
                  }
                  document.write('</tr>');
                }
              </script>
          </table>
          </div>
        </div>