<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Request Service</title>

</head>

<body>
  <!-- TODO: match nav with website -->
  <!-- Navbar (sit on top) -->
  <!-- <div class="navbar">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide">
        <span style="font-family:Brush Script MT; font-size: 20px">The Levanon Group</span> <span style=" font-family: Brush Script MT;font-size: 10px">LLC</span>
      </a>
    </div>
  </div> -->

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#resident" onclick="w3_close()" class="w3-bar-item w3-button">Current Resident</a>
    <a href="contactGF.html" onclick="w3_close()" class="w3-bar-item w3-button">Contact Us</a>
  </nav>

  <div class="container align-items-center">
    <h3>Maintenance Request Form</h3>
    <form id="maintReq" name="maintReq" class="" method="POST" action="/form" data-valid=false>
      <!---------------------PAGE 1 CUSTOMER DEMOGRAPHICS----------------->
      <div id="p1" >
        <div class="form-group">
          <label for="fname">First Name</label> <a class="err_msg valid" id="fname_e"> First name may only contain letters</a>
            <input class="form-control"   maxlength=20 type="text" id="fname" required name="fname">
          <label for="lname">Last Name</label>  <a class="err_msg valid" id="lname_e"> Last name can only contain letters and hyphens</a>
            <input class="form-control"   maxlength=25 type="text" id="lname" required name="lname">
          <label for="email">Email</label>  <a class="err_msg valid" id="email_e"> Please enter a valid email address</a>
            <input class="form-control"  type="email" id="email" name="email" required>
          <label for="phone">Phone Number</label> <a class="err_msg valid" id="phone_e"> Enter phone number with format ###-###-####</a>
            <input class="form-control"  maxlength=12 type="tel" id="phone" required placeholder="###-###-####" name="phone">
        </div>
        <div class="form-group">
          <label for="property">Property Location</label> <a class="err_msg valid" id="property_e"> You must select a property</a>
            <select class="form-control" name="property" id ="property" placeholder="Y" required>
              <option disabled selected value="">--Select a Property--</option>
              <option value="1500 Fallowfield">1500 Fallowfield Ave</option>
              <option value="1214 Wynne Ave">1214 Wynne Ave</option>
              <option value="1415 Rutherford Ave">1415 Rutherford Ave</option>
              <option value= 3349-3351 Bookman>3349-3351 Bookman</option>
              <option value="Other">Other</option>
            </select>
          <div id="keyedProperty" style="display: none">
            <label for="altProp" style="font-size: smaller; font-weight:500">Street address</label>
              <a class="err_msg valid" id="address_e"> If 'other' is selected in property drop-down, full address must be entered here</a>
              <input class="form-control" type="text" id="address" required name="address">
            <label for="altProp" style="font-size: smaller; font-weight:500">Zipcode</label>
              <a class="err_msg valid" id="zip_e"> Zipcode should be a 5 digit number.</a>
              <input class="form-control" type="number" id="zip" name="zip">
          </div>
          <div class="form-group">
            <label for="unitNum">Unit Number</label><a class="err_msg valid" id="unitNum_e"> Enter unit number with no spaces</a>
              <input class="form-control" type="text" id="unitNum" name="unitNum" maxlength=4>
          </div>
        </div>
        <a id="p1Err" class="err_msg valid">Ensure all required fields are properly filled out.</a>
      </div>
      <!-----------------PAGE 2 SERVICE TYPE AND FIELD NOTES----------------->
      <div id="p2" style="display:none">
        <div class="container">
          <h3>Service Request</h3>
        </div>
        <div class="form-group">
          <input type="hidden" name="svcType" id="svcType" value="" required>
          <label for="serviceType">Type of Service</label><a class="err_msg valid" id="serviceType_e"> Select a service.</a>
          <select class="form-control" name="serviceType" id="serviceType">
            <option disabled selected value="">--Select a Service Type--</option>
            <option value="General_Maintenance">General Maintenance</option>
            <option value="Lvl2_HVAC">HVAC</option>
            <option value="General_Maintenance">Plumbing</option>
            <option value="Pest_Control">Pest Control</option>
            <option value="General_Maintenance">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="serviceDiscription">Service Request Summary<br><span class="small"> Please add a brief description of your issue.</span></label>
          <a id="serviceDiscription_e" class="err_msg valid"> Enter at least fifteen characters,</a>
          <textarea class="form-control" id="serviceDiscription" name="serviceDiscription" row=6 col=80></textarea>
        </div>
        <a id="p2Err" class="err_msg valid">Ensure all required fields are properly filled out.</a>
      </div>
      <!-----------------PAGE 3 AVAILABILITY AND SUBMISSION----------------->
      <div id="p3" style="display:none" >
        <div class="container">
          <h3>Scheduling</h3>
          <br>
          <p>Please select the times you will be available.</p>
        </div>
        <div class="container">
          <input id="serviceDate" type="hidden" name="serviceDate" required minEntries=3 value="">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <!-- TODO: go to hourly based model -->
                <td></td>
                <th scope="col">Morning <br><span class="small">8-11am</span></th>
                <th scope="col">Afternoon<br><span class="small">11am-3pm</span></th>
                <th scope="col">Evening<br><span class="small">3pm-6pm</span></th>
              </tr>

            </thead>
            <tr>
              <th id="day1" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="11"></td>
              <td> <input type="checkbox" name="avail" value="12"></td>
              <td> <input type="checkbox" name="avail" value="13"></td>
            </tr>
            <tr>
              <th id="day2" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="21"></td>
              <td> <input type="checkbox" name="avail" value="22"></td>
              <td> <input type="checkbox" name="avail" value="23"></td>
            </tr>
            <tr>
              <th id="day3" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="31"></td>
              <td> <input type="checkbox" name="avail" value="32"></td>
              <td> <input type="checkbox" name="avail" value="33"></td>
            </tr>
            <tr>
              <th id="day4" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="41"></td>
              <td> <input type="checkbox" name="avail" value="42"></td>
              <td> <input type="checkbox" name="avail" value="43"></td>
            </tr>
            <tr>
              <th id="day5" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="51"></td>
              <td> <input type="checkbox" name="avail" value="52"></td>
              <td> <input type="checkbox" name="avail" value="53"></td>
            </tr>
            <tr>
              <th id="day6" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="61"></td>
              <td> <input type="checkbox" name="avail" value="62"></td>
              <td> <input type="checkbox" name="avail" value="63"></td>
            </tr>
            <tr>
              <th id="day7" scope="row"></th>
              <td> <input type="checkbox" name="avail" value="71"></td>
              <td> <input type="checkbox" name="avail" value="72"></td>
              <td> <input type="checkbox" name="avail" value="73"></td>
            </tr>
          </table>
        </div>
        <input type="hidden" value="Requested" name="status">
        <a id="p3Err" class="err_msg valid">Select at least 3 available timeslots.</a>
      </div>

      <!-- Button section below pages-->
      <div>
        <button id="back" type="button" class="btn btn-default" style="display: none">Back</button>
        <button id="next" type="button" class="btn btn-default progBtn">Next</button>
        <button id="submit" type="submit" class="btn btn-default progBtn" style="display: none">Submit</button>
      </div>
    </form>
  </div>

  <!--JQuery and JQuery Validation-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  </script>
  <!---------------------------------->
  <!--Other Javascript Dependencies-->
  <script src="js/libs/moment.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
